:root {
    --vl-theme-color: #0D43FE;
    --vl-gradient-1:linear-gradient(85deg, #0D43FE -50.83%, #BB29F2 90.34%);
    --vl-black: #050C36;
    --vl-white: white;
    --vl-white-3:rgba(255, 255, 255, 0.3);
    --vl-white-5:rgba(255, 255, 255, 0.05);
    --vl-white-8: rgba(255, 255, 255, 0.80);
    --vl-grey-color: #f6f6f6;
    --vl-grey-color-2: #f6f6f6;
    --vl-grey-color-3: #f6f6f6;
    --vl-grey-color-4: #f6f6f6;
}